.tvtResizeSplitter {
    cursor: col-resize;
    background-color: red;
    width: 5px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

.red {
    background: red;
}
